.bg-image-dark{
    background-image: url('../../assets/darkBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-image-light{
    background-image: url('../../assets/experienceBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}